<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <h2>{{card.advice}}</h2>
            <!-- <div class="carusel-container">
              <div class="carusel-slider-container">
                <div style='background-image: url("https://ma.wattpad.com/wattys_hfclaunch_desktop_sp.jpg"); height: 200px; background-size: cover;'> </div>
                <div style='background-image: url("https://ma.wattpad.com/wattys_hfclaunch_desktop_sp.jpg"); height: 200px; background-size: cover;'> </div>
              </div>
              <div class="carusel-dot-container">
                <div class="carusel-dot">1</div>
                <div class="carusel-dot">2</div>
                <div class="carusel-dot">3</div>
              </div>
            </div> -->
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
