:host {
    .tag {
        display: inline-block;
        padding: 5px;
        margin-right: 5px;
        border-radius: 10px;
        background-color: lightblue;
        font-weight: bold;
        div {
            display: flex;
            mat-icon {
                cursor: pointer;
            }
        }
    }
    .tag__container {
        margin-bottom: 10px;
    }
}