.reading__section {
    .cover {
        width: 100%;
        height: 20vh;
        background-color: #000000ba;
        display: flex;
        justify-content: center;
        img {
            opacity: 1 !important;
            height: 100%;
        }
    }
    .reading__controls {
        margin-bottom: 10px;
    }
    h2 {
        padding: 0 10px;
    }
    .reading__space {
        padding: 20px 10px;
    }
}