<div class="reading__section" *ngIf="story && chapter">
    <div class="cover">
        <img [src]="story.cover" />
    </div>
    <mat-card class="m10">
        <h2>{{story.title}}</h2>
        <div class="reading__controls center-content">
            <div class="col-sm-3">
                <button *ngIf="!isFirstChapter" mat-raised-button type="button" color="primary" 
                    routerLink="/story/reading/{{storyId}}/chapter/{{previousChapter.id}}">
                    <mat-icon>arrow_backward</mat-icon> Capitulo anterior
                </button>
            </div>
            <div class="col-sm-3 center-content">bd</div>
            <div class="col-sm-3 right-content">
                <button *ngIf="!isLastChapter" mat-raised-button type="button" color="primary" 
                    routerLink="/story/reading/{{storyId}}/chapter/{{nextChapter.id}}">
                    <mat-icon>arrow_forward</mat-icon> Capitulo siguiente
                </button>
            </div>
        </div>
        <div class="center-content">
            <div class="col-sm-3">
                Autor
            </div>
            <div class="col-sm-3 center-content">
                {{chapter.name}}
            </div>
            <div class="col-sm-3 right-content">
                Actions
            </div>
        </div>
        <div class="reading__space">
            {{chapter.description}}
        </div>
    </mat-card>
</div>