.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}
  
.literado__navbar {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}