<form *ngIf="createStoryForm" novalidate (ngSubmit)="onSubmit()">
    <div class="create__story">
        <div class="stepper">
            <div [ngClass]="{'active' : tab === 'information'}" (click)="tabChange('information')">
                1 - Información general
            </div>
            <div [ngClass]="{'active' : tab === 'detail'}"  (click)="tabChange('detail')">
                2 - Detalles de la historia
            </div>
            <div [ngClass]="{'active' : tab === 'review'}"  (click)="tabChange('review')">
                3 - Confirmar información
            </div>
        </div>
        <div class="content">
            <literado-general-information 
                *ngIf="tab === 'information' && createStoryForm.get('general')"
                [generalInfoForm]="createStoryForm.get('general')"
                (generalInformationForm)="goToDetail($event)"
            >
            </literado-general-information>
            <literado-story-detail *ngIf="tab === 'detail'"></literado-story-detail>
            <literado-story-review *ngIf="tab === 'review'"></literado-story-review>
        </div>
    </div>
</form>